target/
!.mvn/wrapper/maven-wrapper.jar
*.log
sonar-project.properties
.sonar/


# eclipse specific git ignore
.mvn/
mvnw
mvnw.cmd
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath
.sonar/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
log.error
*.properties
*.error

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
